<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 1</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Hello, Vue</h1>
    
    <div id="app">
        <div v-if="showBooks">
            <p>{{title}} - {{author}} - {{nationality}}: {{price}}$</p>
            <button v-on:click="price++">+</button>
            <button v-on:click="price--">-</button>
            <div
                style="width: 20px; height: 20px; background-color: crimson;"
                @click="changeTitle('Silmarllion');">
    
            </div>
        </div>
        <div v-if="showBooks">
            <h2 style="color:red;" @click="toggleBooks">Toggle books</h2>
        </div>
        <div v-else>
            <h2 style="color:green;" @click="toggleBooks">Toggle books</h2>
        </div>
        <div v-show="showBooks">
            <!-- not as time expensive, because items in v-show directive stay in dom,
             not like a items in v-if, that are deleted from dom when the condition is 
             not met. -->
            <h2>Currently showing books</h2>
        </div>

    </div>
    <script src="app.js"></script>
</body>
</html>